.navigation {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* display: flex; */
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.9);
}

.navigation ul {
    margin: 0;
    padding: 0;
}

.navigation li {
    display: block;
    list-style: none;
    padding: 1em 0;
}

.navigation a {
    display: block;
    text-decoration: none;
    padding: 1em 2em;
    background: white;
    color: #444;
    box-shadow: 0 0 1.5rem 0.1rem rgba(0, 0, 0, 0.2);
}

.navigation a::before {
    margin-right: 1em;
}

#nav-main-toggle {
    display: none;
}

#nav-main-toggle:checked + .site-header .navigation {
    display: flex;
}

.nav-toggle {
    position: relative;
    z-index: 1000;
    position: fixed;
    top: var(--spacing-site, 2rem);
    left: var(--spacing-site, 2rem);
    font-size: 2rem;
    padding: 0 2rem;
}

#nav-toggle-right {
    left: inherit;
    right: 0;
}

.nav-toggle span {
    display: none;
}

.nav-toggle::before {
    margin-right: 1em;
    content: '\f0c9';
}

#nav-main-toggle:checked + .site-header .nav-toggle::before {
    content: '\f00d';
}